@import "./null-style.scss";
@import "./modal-window.scss";
html,
body {
  // display: flex;
  // min-width: fit-content;
  // height: fit-content;
  min-height: 100vh;
}
button {
  background-color: limegreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font: inherit;
  text-align: center;
}
.wrapper {
  width: 100%;
  min-width: fit-content;
  // height: fit-content;
  min-height: 100vh;
  font: 20px "Calibri";
}
.wrapper > header {
  width: 100%;
  min-height: 50px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  padding: 7px;
  color: white;
  background-color: gray;
  & > #account-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 5px;
    cursor: pointer;
    & > img {
      max-width: 100%;
    }
  }
  & > .view-basket-btn {
    grid-column-start: 4;
  }
}
.wrapper > .filter-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border: 1.5px solid dimgray;
  box-shadow: 0 1px 3px 1px gray;
  border-top: 0;
  border-radius: 0 0 7px 7px;
  & select {
    border: 1px solid dimgray;
    font: inherit;
    margin-left: 3px;
  }
}
main {
  width: 100%;
  padding: 10px;
  // min-width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
section.product {
  display: grid;
  grid-template-rows: 150px;
  grid-auto-rows: auto;
  grid-template-columns: 200px;
  grid-template-areas:
    "image"
    "name"
    "price";
  background-color: white;
  box-shadow: 0 0 3px 1px gray;
  border-radius: 5px;
  margin: 10px;
  & > div {
    padding: 3px 7px;
    max-width: 100%;
  }
  & > .product_main_info {
    grid-area: name;
  }
  & > .product__price {
    grid-area: price;
  }
  & > .image {
    grid-area: image;
    display: flex;
    background-color: #eee;
    margin: 0;
    padding: 7px;
    & > img {
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
