.background {
  z-index: 100;
  background-color: rgba(74, 38, 38, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 88%;
  background-color: white;
  box-shadow: 0 0 15px gray;
  border-radius: 5px;
  font: 20px "Calibri", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > .modal-window-cross {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: red;
    border-radius: 50%;
    & > img {
      max-width: 100%;
    }
  }

  & .warning {
    max-width: 100%;
    display: inline-block;
    font-size: 14px;
    color: red;
    text-align: center;
    word-wrap: break-word;
  }
}

.modal-window {
  padding: 7px;

  header {
    text-align: center;
    margin: 3px auto;
    &:first-of-type {
      margin-top: 0;
    }
  }

  input:not([type="checkbox"]) {
    font: inherit;
    display: inline-block;
    width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 3px;
  }

  input[type="checkbox"] {
    margin-right: 3px;
  }

  button {
    background-color: limegreen;
    color: white;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font: inherit;
  }

  form.password-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.create-account {
    & .warning {
      max-width: 250px;
    }
    font-size: 18px;
    header:first-of-type {
      margin-bottom: 0;
    }
  }
  &.confirm {
    header {
      margin-bottom: 5px;
      border-bottom: 2px solid gray;
      border-radius: 5px;
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      & + div {
        text-align: center;
        margin-bottom: 5px;
      }
    }

    label {
      margin-bottom: 5px;
      white-space: nowrap;
    }
  }

  &.registration {
    & .warning {
      max-width: 250px;
    }
    button {
      &.create-account-btn {
        background-color: dodgerblue;
      }
    }
  }
  &.profile {
    min-width: 200px;
  
    & > section {
      text-align: center;
      width: 100%;
      border: 1px solid gray;
      border-radius: 3px;
      padding: 5px;
      & > div {
        margin-bottom: 3px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  
    & .exit-btn {
      background-color: red;
    }
  }
  

  &.basket {
    & .warning {
      max-width: 240px;
    }
    .current-customer-label {
      border: 1px solid gray;
      border-radius: 14px;
      margin-bottom: 5px;
      padding: 3px;
    }

    section {
      max-height: 50vh;
      overflow: auto;
      padding: 3px;
      margin-bottom: 3px;
    }

    section > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-shadow: 0 0 3px 1px gray;
      border-radius: 5px;
      padding: 3px;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
      & > .order-item_amount {
        display: flex;
        flex-direction: row;
        width: 90px;
        height: 30px;
        & > * {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          width: calc(1/3 * 100%);
          height: 100%;
        }
        & > button {
          background-color: royalblue;
          color: white;
          margin: 0;
          font-size: 125%;
          &:disabled {
            background-color: gray;
          }
        }
      }
      & > .del-from-basket-btn {
        background-color: red;
        font-size: 18px;
        margin-bottom: 3px;
        white-space: nowrap;
      }
    }

    .total-cost {
      text-align: center;
    }
  }
  &.issuance {
    & .warning {
      max-width: 200px;
    }
    & .issue-btn {
      margin: 0;
    }
  }
}
