@import "./null-style.scss";
@import "./modal-window.scss";
html,
body {
  min-height: 100vh;
}
button {
  background-color: limegreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font: inherit;
  text-align: center;
}
.wrapper {
  width: 100%;
  min-width: fit-content;
  min-height: 100vh;
  font: 20px "Calibri";
}
.wrapper > header {
  width: 100%;
  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
  color: white;
  font-weight: bold;
  font-size: 125%;
  background-color: gray;
}
main {
  width: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}
main > header {
  display: flex;
  flex-direction: column;
  // // justify-content: space-between;
  // align-items: center;
  padding: 5px;
  border: 1.5px solid dimgray;
  box-shadow: 0 1px 3px 1px gray;
  border-top: 0;
  border-radius: 0 0 7px 7px;
  /*& .warning {
    max-width: 100%;
    // width: 200px;
    display: inline-block;
    font-size: 14px;
    color: red;
    text-align: center;
    word-wrap: break-word;
  }*/
  & > .search-section {
    // display: block;
    // width: fit-content;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7px;
    margin-bottom: 5px;
    & > header {
      text-align: center;
    }
    & input {
      font: inherit;
      // display: inline-block;
      width: 150px;
      // flex: 1 0 150px;
      flex-grow: 1;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 0 3px;
      margin: 3px;
      // &[name="num"] {
      //   width: 110px;
      //   // flex-grow: 0;
      // }
      &[name="customer_phone_num"] {
        min-width: 230px;
        // flex-grow: 0;
      }
    }
    & > .search-inputs {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
    & > div:has(#search-btn) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  & #search-btn {
    background-color: dodgerblue;
    margin-top: 3px;
  }
  & > .actions-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    & > #view-report-btn{
      background-color: royalblue;
      margin: 3px;
    }
    & > #view-receipt-btn{
      background-color: slateblue;
      margin: 3px;
      margin-right: 6px;
    }
  }
}
main > #orders {
  width: 100%;
  min-width: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // text-align: center;
  & > .order {
    width: 100%;
    min-width: fit-content;
    // display: flex;
    // flex-direction: column;
    padding: 10px;
    text-align: left;
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: auto min-content;
    grid-template-areas:
      "order_num issuance_btn"
      "cost delete_order_btn"
      "order_items order_items"
      "customer_name customer_name"
      "customer_phone_num customer_phone_num"
      "datetime datetime";
    box-shadow: 0 0 3px 1px gray;
    border-radius: 5px;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
    & > div {
      display: flex;
      align-items: center;
      &.order_num {
        grid-area: order_num;
      }
      &.customer_name {
        grid-area: customer_name;
      }
      &.customer_phone_num {
        grid-area: customer_phone_num;
      }
      &.datetime {
        grid-area: datetime;
      }
      &.cost {
        grid-area: cost;
      }
      &.order-items {
        grid-area: order_items;
        flex-direction: column;
        align-items: start;
      }
    }
    & > .issuance-btn {
      grid-area: issuance_btn;
      white-space: nowrap;
      margin-left: 5px;
      padding: 3px;
      justify-self: end;
      align-self: center;
    }
    & > .delete-order-btn {
      grid-area: delete_order_btn;
      background-color: red;
      white-space: nowrap;
      margin: 5px 0 0 5px;
      padding: 3px;
      justify-self: end;
      align-self: center;
    }
  }
}
@media (min-width: 550px) {
  main > header {
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    & > .search-section {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
}
