@import "./null-style.scss";
@import "./modal-window.scss";
html,
body {
  min-height: 100vh;
}
button {
  background-color: limegreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font: inherit;
  text-align: center;
}
.wrapper {
  width: 100%;
  min-width: fit-content;
  min-height: 100vh;
  font: 20px "Calibri";
}
.wrapper > header {
  width: 100%;
  min-height: 50px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto 1fr auto;
  align-items: center;
  padding: 7px;
  color: white;
  background-color: gray;
  a:has(button.back) {
    display: inline-block;
    margin-right: 7px;
  }
  button.back{
    background-color: dodgerblue;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    & img {
      display: block;
      transform: rotate(180deg);
      max-width: 100%;
    }
  }
  & > #account-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 5px;
    cursor: pointer;
    & > img {
      max-width: 100%;
    }
  }
  & > .view-basket-btn {
    grid-column-start: 5;
  }
}
main {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "photo main_info"
    "other_info_header other_info_header"
    "other_info other_info";
  & > .photo {
    grid-area: photo;
    width: 200px;
    height: 250px;
    display: flex;
    background-color: #eee;
    margin: 0;
    padding: 7px;
    & > img {
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  & > .main-info {
    grid-area: main_info;
    width: fit-content;
    // border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & #add-to-basket-btn {
      margin: 5px auto;
    }
    & > div {
      margin-bottom: 7px;
    }
  }
  & > header#other-info-header {
    grid-area: other_info_header;
    text-align: center;
    color: royalblue;
    font-size: 125%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  & > .other-info {
    grid-area: other_info;
    padding: 10px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr max-content;
    & > div:not([class]){
      text-align: right;
      margin-bottom: 7px;
    }
  }
}
