* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.background {
  z-index: 100;
  background-color: rgba(74, 38, 38, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-max-content;
  width: max-content;
  max-width: 88%;
  background-color: white;
  box-shadow: 0 0 15px gray;
  border-radius: 5px;
  font: 20px "Calibri", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-window > .modal-window-cross {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: red;
  border-radius: 50%;
}
.modal-window > .modal-window-cross > img {
  max-width: 100%;
}
.modal-window .warning {
  max-width: 100%;
  display: inline-block;
  font-size: 14px;
  color: red;
  text-align: center;
  word-wrap: break-word;
}

.modal-window {
  padding: 7px;
}
.modal-window header {
  text-align: center;
  margin: 3px auto;
}
.modal-window header:first-of-type {
  margin-top: 0;
}
.modal-window input:not([type=checkbox]) {
  font: inherit;
  display: inline-block;
  width: 150px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 3px;
}
.modal-window input[type=checkbox] {
  margin-right: 3px;
}
.modal-window button {
  background-color: limegreen;
  color: white;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font: inherit;
}
.modal-window form.password-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-window.create-account {
  font-size: 18px;
}
.modal-window.create-account .warning {
  max-width: 250px;
}
.modal-window.create-account header:first-of-type {
  margin-bottom: 0;
}
.modal-window.confirm header {
  margin-bottom: 5px;
  border-bottom: 2px solid gray;
  border-radius: 5px;
}
.modal-window.confirm section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-window.confirm section + div {
  text-align: center;
  margin-bottom: 5px;
}
.modal-window.confirm label {
  margin-bottom: 5px;
  white-space: nowrap;
}
.modal-window.registration .warning {
  max-width: 250px;
}
.modal-window.registration button.create-account-btn {
  background-color: dodgerblue;
}
.modal-window.profile {
  min-width: 200px;
}
.modal-window.profile > section {
  text-align: center;
  width: 100%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
}
.modal-window.profile > section > div {
  margin-bottom: 3px;
}
.modal-window.profile > section > div:last-of-type {
  margin-bottom: 0;
}
.modal-window.profile .exit-btn {
  background-color: red;
}
.modal-window.basket .warning {
  max-width: 240px;
}
.modal-window.basket .current-customer-label {
  border: 1px solid gray;
  border-radius: 14px;
  margin-bottom: 5px;
  padding: 3px;
}
.modal-window.basket section {
  max-height: 50vh;
  overflow: auto;
  padding: 3px;
  margin-bottom: 3px;
}
.modal-window.basket section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 3px 1px gray;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 10px;
}
.modal-window.basket section > div:last-of-type {
  margin-bottom: 0;
}
.modal-window.basket section > div > .order-item_amount {
  display: flex;
  flex-direction: row;
  width: 90px;
  height: 30px;
}
.modal-window.basket section > div > .order-item_amount > * {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 33.3333333333%;
  height: 100%;
}
.modal-window.basket section > div > .order-item_amount > button {
  background-color: royalblue;
  color: white;
  margin: 0;
  font-size: 125%;
}
.modal-window.basket section > div > .order-item_amount > button:disabled {
  background-color: gray;
}
.modal-window.basket section > div > .del-from-basket-btn {
  background-color: red;
  font-size: 18px;
  margin-bottom: 3px;
  white-space: nowrap;
}
.modal-window.basket .total-cost {
  text-align: center;
}
.modal-window.issuance .warning {
  max-width: 200px;
}
.modal-window.issuance .issue-btn {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

button {
  background-color: limegreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font: inherit;
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: auto;
  width: 100%;
  border: 1px solid black;
}
.table > div {
  border: 1px solid black;
  padding: 1px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  font: 20px "Calibri";
}

.wrapper > header {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
  color: white;
  background-color: gray;
}
.wrapper > header > a > .to-orders-page-btn {
  background-color: limegreen;
}

main {
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main > .storage-section {
  width: 100%;
  padding: 5px;
  overflow: auto;
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid dimgray;
  box-shadow: 0 -1px 3px 1px gray;
  border-bottom: 0;
  padding: 5px 0;
}
.btns > .load-file-btn {
  margin: auto 5px;
  background-color: dimgray;
}
.btns > .refresh-btn {
  margin: auto 5px;
}

/*.upload-file {
  width: fit-content;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 3px solid royalblue;
  border-radius: 5px;
}*/
.load-file-window {
  /*& > .buttons {
    display: flex;
    flex-direction: row;
  }*/
}
.load-file-window > .input-wrapper {
  position: relative;
  width: 400px;
  max-width: 100%;
  border: 3px dashed royalblue;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}
.load-file-window input.consignment-note-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.load-file-window button.register-supply-btn {
  background-color: dodgerblue;
  margin-right: 5px;
}
.load-file-window button.cancel-btn {
  background-color: red;
  margin-left: 5px;
}
.load-file-window > output.table {
  grid-template-columns: repeat(4, auto);
}