@import "./null-style.scss";
@import "./modal-window.scss";

html,
body {
  min-height: 100vh;
}
button {
  background-color: limegreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font: inherit;
  text-align: center;
}
.table {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: auto;
  width: 100%;
  border: 1px solid black;
  & > div {
    border: 1px solid black;
    padding: 1px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  font: 20px "Calibri";
}
.wrapper > header {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
  color: white;
  background-color: gray;
  & > a > .to-orders-page-btn {
    background-color: limegreen;
  }
}
main {
  width: 100%;
  min-width: fit-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
main > .storage-section {
  width: 100%;
  padding: 5px;
  overflow: auto;
}
.btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid dimgray;
  box-shadow: 0 -1px 3px 1px gray;
  border-bottom: 0;
  padding: 5px 0;
  & > .load-file-btn {
    margin: auto 5px;
    background-color: royalblue;
  }
  & > .refresh-btn {
    margin: auto 5px;
  }
}
.load-file-window {
  & > .input-wrapper {
    position: relative;
    width: 400px;
    max-width: 100%;
    border: 3px dashed royalblue;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
  }
  & input.consignment-note-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  & button.register-supply-btn {
    background-color: dodgerblue;
    margin-right: 5px;
  }
  & button.cancel-btn {
    background-color: red;
    margin-left: 5px;
  }
  & > output.table {
    grid-template-columns: repeat(4, auto);
  }
}